
<% if resultset %>

  <table class="resultset">
    <thead>
        <%= render partial: 'resultset_header', locals: {resultset: resultset, row_class: ''} %>
    </thead>
    <tbody>
      <%# TODO: refactor as header is array of objects {table name: , column name: , data type: } %>
      <%# TODO: refactor detail as array of hashes {column} array of objects {table name: , column name: , data type: } %>
      <%# TODO: [ {column: value, column: value} %>
      <% resultset['detail'].each do | detail | %>
        <tr>
          <% i = 0 %>
          <% detail.each do |k,v| %>
            <td><%= render_value(v, resultset['header'][i]['data_type']) %></td>
            <% i = i + 1 %>
          <% end %>
        </tr>
      <% end %>
      <%= render partial: 'resultset_header', locals: {resultset: resultset, row_class: 'placeheader'} %>
    </tbody>
  </table>

<% end %>
