/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require codemirror/codemirror
 *= require codemirror/themes/night
 *= require_tree .
 */

.sidebar {
	float: left;
}

td pre {
	margin-left: 0;
}

.col-numeric {
	text-align: right;
}

.query-sql-text .CodeMirror {
	width: 900px;
  height: auto;
}

.query-sql-text .CodeMirror-scroll {
  overflow-y: hidden;
  overflow-x: auto;
}

.query-index td {
  padding-top: 50px;
  vertical-align: top;
}

.query-index thead {
  background-color: white;
}

.query-index th {
  background-color: white;
}

table.query-index.floatThead-table {
  background-color: white;
}

.resultset thead tr:nth-child(1) {
  border: 2px solid #dddddd;
}

.resultset thead, th {
  background-color: white;
}

.resultset.floatThead-table {
  background-color: white;
}

.resultset .placeheader {
  visibility: hidden;
}

.editor-auto-resize .CodeMirror {
  border: 1px solid #eee;
  height: auto;
}

.editor-auto-resize .CodeMirror-scroll {
  overflow-y: hidden;
  overflow-x: auto;
}

a.minor {
  color: gray;
}

.column-boolean {
  font-variant: small-caps;
}

.column-row-number {
  font-size: x-small;
}

